main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(35, 144, 61);
}

main > * {
  width: 80vw;
  margin: 2vw 0 0 0;
}

main > h1 {
  margin: 4vw 0 0 0;
}

.pesquisa {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(35, 144, 61);
  color: white;
  border: 0;
  height: 42px;
  font-size: 20px;
}

.busca > input {
  border: 5px solid lightgrey;
  border-right: 0;
  margin-right: -5px;
  height: 30px;
  width: 55vw;
  font-size: 20px;
}

ion-icon {
  height: 30px;
  width: 30px;
  color: white;
}

.pacientes {
  background-color: rgb(229, 229, 229);
  padding: 20px;
  border-radius: 20px;
}

.paciente {
  background: linear-gradient(lightgray, rgb(180, 180, 180));
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.paciente > img {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  margin: 0px 10px;
  border: 2px solid lightgrey;
}

.aviso > img {
  height: 40px;
  width: 40px;
}

.aviso_vermelho {
  background: linear-gradient(brown, red);
}

.aviso_amarelo {
  background: linear-gradient(orange, yellow);
}
