.alerta {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 20px auto;
  height: 8vw;
  border-radius: 20px;
  font-size: 30px;
}

.alerta > img {
  height: 40px;
  width: 40px;
}

form section {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 3vh auto;
}

form * {
  font-size: 20px;
}

label {
  color: rgb(35, 144, 61);
}

input,
select {
  margin-bottom: 10px;
  background-color: lightgray;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.em_uma_linha {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
  width: 15vw;
}

.flex2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30vw;
}

#logradouro {
  width: 100%;
}

#numero {
  width: 100%;
}

#complemento {
  width: calc(100% - 15px);
}

#adicionar {
  background-color: rgb(35, 144, 61);
  color: white;
  border: 0;
  height: 42px;
  font-size: 20px;
}

#enviar {
  background-color: rgb(35, 144, 61);
  color: white;
  border: 0;
  height: 42px;
  margin-top: 10px;
}
