header {
    padding: 20px;
    text-align: right;
    background: rgb(35, 144, 61);
    color: white;
    font-size: 30px;
    display:flex
  }

img{

}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}