<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sistom - Acompanhamento de Ostomizados" />
    <title>Sistom</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="../views/index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span id="title">Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>
    <div class="acessibilidade">
      <button><img src="./Contraste-icon.svg" /></button>
      <button><img src="./Tam-fonte-menos-icon.svg" /></button>
      <button><img src="./Tam-fonte-mais-icon.svg" /></button>
      <button><img src="./Libras-icon.svg" /></button>
    </div>
    <main>
      <h1>Pacientes</h1>
      <div class="pesquisa">
        <div class="busca">
          <input placeholder="Digite o nome do paciente" />
          <button>Pesquisar</button>
        </div>
        <button><ion-icon name="filter-outline"></ion-icon>Filtrar</button>
        <button>Adicionar</button>
        <button><a href="../views/estatistica.html">Estatísticas</a></button>
      </div>
      <div class="pacientes">
        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente2.png" alt="Imagem do paciente" />
            <div>
              <span>Zézo</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>

        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente3.png" alt="Imagem do paciente" />
            <div>
              <span>Jorge</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>

        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente4.jpeg" alt="Imagem do paciente" />
            <div>
              <span>Pietra</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>

        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente5.jpeg" alt="Imagem do paciente" />
            <div>
              <span>Enzo</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>

        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente6.jpeg" alt="Imagem do paciente" />
            <div>
              <span>Betão</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>

        <div class="paciente">
          <div class="dados">
            <img src="../pictures/paciente7.jpeg" alt="Imagem do paciente" />
            <div>
              <span>Marinho</span>
              <span>96 98765-5678</span>
              <span>333.222.444-99</span>
            </div>
          </div>
          <div class="menu">
            <button class="menu-toggle" onclick="toggleMenu(this)">
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
            <div class="menu-content">
              <a href="paciente.html"
                ><ion-icon name="person-sharp"></ion-icon>Dados deste
                paciente</a
              >
              <a href="endereco.html"
                ><ion-icon name="trail-sign-sharp"></ion-icon>Endereço</a
              >
              <a href="recebedor.html"
                ><ion-icon name="people-sharp"></ion-icon>Recebedor(es)
                autorizados de materiais</a
              >
              <a href="estoma.html"
                ><ion-icon name="ellipse"></ion-icon>Estoma(s)</a
              >
              <a href="consulta.html"
                ><ion-icon name="medkit"></ion-icon>Consulta(s)</a
              >
              <a href="materiais.html"
                ><ion-icon name="cube"></ion-icon>Materiais deste paciente</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>
        Site desenvolvido para Centro de Ciências da Saúde (CSS), por estudantes
        da Universidade de São Paulo (USP) para uso exclusivo de profissionais
        da saúde do Sistema Único de Saúde (SUS) do Piauí
      </p>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
