<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sistom - Acompanhamento de Ostomizados" />
    <title>Sistom</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>
  <body>
    <header>
      <a href="index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span>Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>
    <main>
      <p>
        Seja bem-vindo ao Sistom! O Sistema de Acompanhamento de Ostomizados
        desenvolvido por estudantes da USP de São Carlos para o SUS do Piauí.
      </p>
      <p>
        Clique no botão abaixo para se cadastrar ou realizar o seu login a fim
        de ter acesso ao sistema.
      </p>
      <button><a href="../views/login.html">Cadastro / Login</a></button>
    </main>
    <footer style="position: sticky">
      <p>
        Site desenvolvido para Centro de Ciências da Saúde (CSS), por estudantes
        da Universidade de São Paulo (USP) para uso exclusivo de profissionais
        da saúde do Sistema Único de Saúde (SUS) do Piauí
      </p>
    </footer>
  </body>
</html>
