<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/paciente.css" />
    <link rel="stylesheet" href="../styles/checkboxes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href="../views/index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span>Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>
    <div class="acessibilidade">
      <button><img src="./Contraste-icon.svg" /></button>
      <button><img src="./Tam-fonte-menos-icon.svg" /></button>
      <button><img src="./Tam-fonte-mais-icon.svg" /></button>
      <button><img src="./Libras-icon.svg" /></button>
    </div>
    <a class="botao_voltar" , id="voltar" href="../views/index.html"
      ><span><--</span>Tela Inicial</a
    >

    <div class="alerta">
      <img
        src="warning-outline.svg"
        alt="Imagem de um sinal de alerta ao lado esquerdo do aviso"
      />Retirada de material atrasada em 2 meses
    </div>

    <form action="/submit" method="post">
      <section id="material" class="tabcontent">
        <h2>Materiais</h2>

        <div class="selector">
          <select id="materiais" name="materiais" required>
            <option value="">Equipamento coletor de 1 peça convexa</option>
            <option value="">Equipamento coletor de 2 peças convexas</option>
            <option value="">Equipamento coletor de 1 peça plana</option>
          </select>
          <button>Adicionar</button>
        </div>

        <h2>Dados do Material:</h2>

        <label for="periodicidade_material">Periodicidade:</label>
        <div class="em_uma_linha">
          <input
            class="flex1"
            type="number"
            id="periodicidade_material_numero"
            name="periodicidade_material_numero"
            required
            placeholder="Quantidade de "
          />
          <select
            class="flex2 margin_left"
            id="periodicidade_material_intervalo"
            name="periodicidade_material_intervalo"
            required
          >
            <option value="">Semanas</option>
            <option value="">Meses</option>
            <option value="">Anos</option>
          </select>
        </div>

        <label for="quantidade_mensal">Quantidade que recebe mensal:</label>
        <input
          type="number"
          id="quantidade_mensal"
          name="quantidade_mensal"
          placeholder="ex: 3"
        />

        <label for="custo_extra">Custo Extra com Equipamento/Adjuvantes:</label>
        <select
          id="custo_extra"
          name="custo_extra"
          required
          onchange="showHideInput('custo_extra', 'custo_adicional')"
          placeholder="Quantidade de "
        >
          <option value="s">Sim</option>
          <option value="n">Não</option>
        </select>

        <label for="custo_adicional">Custo adicional:</label>
        <input
          type="text"
          id="custo_adicional"
          name="custo_adicional"
          placeholder="Com fitas"
        />

        <button type="submit">Enviar</button>
      </section>
    </form>
  </body>
  <script src="../scripts/paciente.js"></script>
  <script src="../scripts/checkboxes.js"></script>
</html>
