<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/paciente.css" />
    <link rel="stylesheet" href="../styles/checkboxes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href="../views/index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span>Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>
    <div class="acessibilidade">
      <button>
        <img onclick="toggleDarkMode()" src="./Contraste-icon.svg" />
      </button>
      <button><img src="./Tam-fonte-menos-icon.svg" /></button>
      <button><img src="./Tam-fonte-mais-icon.svg" /></button>
      <button><img src="./Libras-icon.svg" /></button>
    </div>
    <a class="botao_voltar" , id="voltar" href="../views/index.html"
      ><span><--</span>Tela Inicial</a
    >

    <div class="alerta">
      <img
        src="warning-outline.svg"
        alt="Imagem de um sinal de alerta ao lado esquerdo do aviso"
      />Consulta atrasada em 2 meses
    </div>

    <form action="/submit" method="post">
      <section id="paciente" class="tabcontent">
        <h2>Paciente</h2>

        <label for="">Imagem do Paciente:</label>
        <input type="file" />

        <label for="">Documentos de Inscrição:</label>
        <input type="file" multiple />

        <label for="nome_paciente">Nome do Paciente:</label>
        <input
          type="text"
          id="nome_paciente"
          name="nome_paciente"
          required
          maxlength="128"
          placeholder="ex: João da Silva"
        />

        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" placeholder="ex: 35.862.347-9  " />

        <label for="cpf">CPF:</label>
        <input
          type="text"
          id="cpf"
          name="cpf"
          maxlength="14"
          oninput="mascaraCPF(this)"
          placeholder="ex: 168.521.184-44"
        />

        <label for="cartao_sus">Cartão SUS:</label>
        <input
          type="text"
          id="cartao_sus"
          name="cartao_sus"
          maxlength="18"
          oninput="mascaraCartaoSUS(this)"
          placeholder="ex: 732 1548 8462 7913"
        />

        <label for="sexo">Sexo:</label>
        <select id="sexo" name="sexo" required>
          <option value="m">Masculino</option>
          <option value="f">Feminino</option>
          <option value="n">Não identificar</option>
        </select>

        <label for="data_nascimento">Data de Nascimento:</label>
        <input
          type="date"
          id="data_nascimento"
          name="data_nascimento"
          required
          placeholder="ex: 12/03/2003"
        />

        <label for="forma_recadastro">Forma de Recadastro</label>
        <select id="forma_recadastro" name="forma_recadastro" required>
          <option value="A">Presencial</option>
          <option value="B">Remoto</option>
        </select>

        <label for="esf">ESF:</label>
        <input
          type="text"
          id="esf"
          name="esf"
          placeholder="Número da equipe ou nome do profissional"
        />

        <label for="telefone">Telefone:</label>
        <div class="em_uma_linha">
          <input
            type="text"
            id="telefone"
            name="telefone"
            oninput="mascaraTelefone(this)"
            required
            maxlength="20"
            oninput="mascaraTelefone"
            placeholder="ex: (86) 91834-9276"
          />
          <button id="add_telefone">Adicionar</button>
        </div>

        <label for="convenio">Convênio:</label>
        <select id="convenio" name="convenio" required>
          <option value="A">Convenio A (Opções virão do Banco de Dados)</option>
          <option value="B">Convenio B</option>
          <option value="C">
            Outro (Atravéz dessa opção, pode-se adicionar um item à lista)
          </option>
        </select>

        <label for="escolaridade">Escolaridade:</label
        ><select id="escolaridade" name="escolaridade" required>
          <option value="A">Não informado</option>
          <option value="B">Creche / pré-escola</option>
          <option value="C">Analfabeto (a)</option>
          <option value="D">Alfabetizado (a)</option>
          <option value="E">Ensino Fundamental</option>
          <option value="F">Ensino Médio</option>
          <option value="G">Ensino Supeior</option>
        </select>

        <label for="profissao">Profissão:</label>
        <input
          type="text"
          id="profissao"
          name="profissao"
          required
          maxlength="30"
          placeholder="ex: Serralheiro"
        />

        <label for="data_inscricao">
          Quando se inscreveu no programa (dia/mês/ano):
        </label>
        <input
          type="date"
          id="data_inscricao"
          name="data_inscricao"
          placeholder="ex: 29/10/2022"
        />

        <button type="submit">Enviar</button>
      </section>
    </form>
    <a class="botao_subir" onclick="voltarAoTopo()"
      ><span>↑</span>Voltar ao Topo</a
    >
  </body>
  <script src="../scripts/paciente.js"></script>
  <script src="../scripts/checkboxes.js"></script>
  <script src="../scripts/darkmode.js"></script>
</html>
