<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/paciente.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      // Função para adicionar a máscara do cartão SUS
      function mascaraCartaoSUS(campoCartao) {
        campoCartao.value = campoCartao.value
          .replace(/\D/g, "") // Remove caracteres não numéricos
          .replace(/(\d{3})(\d)/, "$1 $2") // Adiciona o primeiro espaço
          .replace(/(\d{4})(\d)/, "$1 $2") // Adiciona o segundo espaço
          .replace(/(\d{4})(\d)/, "$1 $2"); // Adiciona o terceiro espaço
      }

      function mascaraCPF(campoCPF) {
        campoCPF.value = campoCPF.value
          .replace(/\D/g, "")
          .replace(/(\d{3})(\d)/, "$1.$2")
          .replace(/(\d{3})(\d)/, "$1.$2")
          .replace(/(\d{3})(\d)/, "$1-$2");
      }

      function mascaraTelefone(campoTelefone) {
        campoTelefone.value = campoTelefone.value
          .replace(/\D/g, "") // Remove todos os caracteres que não são dígitos
          .replace(/^(\d{2})(\d)/, "($1) $2") // Coloca parênteses em volta dos dois primeiros dígitos
          .replace(/(\d{4})(\d)/, "$1-$2") // Adiciona o hífen depois dos quatro dígitos seguintes (fixo)
          .replace(/(\d{4})-(\d)(\d{4})/, "$1$2-$3"); // Ajusta o hífen para a posição correta em números de celular
      }
      function mascaraCEP(campoCEP) {
        campoCEP.value = campoCEP.value
          .replace(/\D/g, "") // Remove todos os caracteres que não são dígitos
          .replace(/^(\d{5})(\d)/, "$1-$2");
      }


    </script>
  </head>

  <body>
    <header>
      <a href="../views/index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span>Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>

    <a class="botao_voltar" , id="voltar" href="../views/index.html"
      ><span><--</span>Tela Inicial</a
    >

    <div class="alerta">
      <img
        src="warning-outline.svg"
        alt="Imagem de um sinal de alerta ao lado esquerdo do aviso"
      />Consulta atrasada em 2 meses
    </div>

    <nav>
      <button class="paginacao" onclick="openSection(event, 'paciente')">
        Paciente
      </button>
      <hr />
      <button class="paginacao" onclick="openSection(event, 'endereco')">
        Endereço
      </button>
      <hr />
      <button class="paginacao" onclick="openSection(event, 'recebedor')">
        Recebedores
      </button>
      <hr />
      <button class="paginacao" onclick="openSection(event, 'estoma')">
        Estoma(s)
      </button>
      <hr />
      <button class="paginacao" onclick="openSection(event, 'consulta')">
        Consultas
      </button>
      <hr />
      <button class="paginacao" onclick="openSection(event, 'material')">
        Materiais
      </button>
    </nav>

    <form action="/submit" method="post">
      <section id="paciente" class="tabcontent">
        <h2>Paciente</h2>

        <label for="">Imagem do Paciente:</label>
        <input type="file">

        <label for="">Documentos de Inscrição:</label>
        <input type="file">

        <label for="nome_paciente">Nome do Paciente:</label>
        <input
          type="text"
          id="nome_paciente"
          name="nome_paciente"
          required
          maxlength="128"
        />

        <label for="rg">RG:</label>
        <input type="text" id="rg" name="rg" />

        <label for="cpf">CPF:</label>
        <input
          type="text"
          id="cpf"
          name="cpf"
          maxlength="14"
          oninput="mascaraCPF(this)"
        />

        <label for="cartao_sus">Cartão SUS:</label>
        <input
          type="text"
          id="cartao_sus"
          name="cartao_sus"
          maxlength="18"
          oninput="mascaraCartaoSUS(this)"
        />

        <label for="sexo">Sexo:</label>
        <select id="sexo" name="sexo" required>
          <option value=" " disabled selected hidden></option>
          <option value="f">Feminino</option>
          <option value="m">Masculino</option>
          <option value="n">Não identificar</option>
        </select>

        <label for="data_nascimento">Data de Nascimento:</label>
        <input
          type="date"
          id="data_nascimento"
          name="data_nascimento"
          required
        />

        <label for="forma_recadastro">Forma de Recadastro</label>
        <select id="forma_recadastro" name="forma_recadastro" required>
          <option value=" " disabled selected hidden></option>
          <option value="A">Presencial</option>
          <option value="B">Remoto</option>
        </select>

        <label for="esf">ESF:</label>
        <input
          type="text"
          id="esf"
          name="esf"
          placeholder="Número da equipe ou nome do profissional"
          
        </select>

        <label for="telefone">Telefone:</label><div class="em_uma_linha">
        <input
          type="text"
          id="telefone"
          name="telefone"
          oninput="mascaraTelefone(this)"
          required
          maxlength="20"
          oninput="mascaraTelefone"
        /><button id="adicionar">Adicionar</button></div>

        <label for="convenio">Convênio:</label>

        <select id="convenio" name="convenio" required>
          <option value=" " disabled selected hidden></option>
          <option value="A">Convenio A</option>
          <option value="B">Convenio B</option>
          <option value="C">Convenio C</option>
          <option value="D">Convenio D</option>
          <option value="E">Outro</option>
        </select>

        <label for="escolaridade">Escolaridade:</label>
        <input
          type="text"
          id="escolaridade"
          name="escolaridade"
          required
          maxlength="30"
        />

        <label for="profissao">Profissão:</label>
        <input
          type="text"
          id="profissao"
          name="profissao"
          required
          maxlength="30"
        />

        <label for="data_inscricao"
          >Quando se inscreveu no programa (dia/mês/ano):</label
        >
        <input type="date" id="data_inscricao" name="data_inscricao" />
      </section>

      <section id="endereco" class="tabcontent">
        <h2>Endereço</h2>
        <div class="em_uma_linha">
          <div class="flex2">
            <label for="logradouro">Logradouro:</label>
            <input
              type="text"
              id="logradouro"
              name="logradouro"
              required
              maxlength="128"
            />
          </div>
          <div class="flex1 margin_left">
            <label for="numero">Numero:</label>
            <input
              type="number"
              id="numero"
              name="numero"
              required
              max="99999"
            />
          </div>
          
          <div class="flex1 margin_left">
            <label for="complemento">Complemento:</label>
            <input
              type="text"
              id="complemento"
              name="complemento"
              required
              maxlength="128"
            />
          </div>
        </div>
        <label for="cep">CEP:</label>
        <input
          type="text"
          id="cep"
          name="cep"
          required
          maxlength="9"
          oninput="mascaraCEP(this)"
        />
        <label for="municipio">Município:</label>
        <select id="municipio" name="municipio" required>
          <option value=" " disabled selected hidden></option>
          <option>Acauã</option>
          <option>Agricolândia</option>
          <option>Água Branca</option>
          <option>Alagoinha do Piauí</option>
          <option>Alegrete do Piauí</option>
          <option>Alto Longá</option>
          <option>Altos</option>
          <option>Alvorada do Gurgueia</option>
          <option>Amarante</option>
          <option>Angical do Piauí</option>
          <option>Anísio de Abreu</option>
          <option>Antônio Almeida</option>
          <option>Aroazes</option>
          <option>Aroeiras do Itaim</option>
          <option>Arraial</option>
          <option>Assunção do Piauí</option>
          <option>Avelino Lopes</option>
          <option>Baixa Grande do Ribeiro</option>
          <option>Barra d'Alcântara</option>
          <option>Barras</option>
          <option>Barreiras do Piauí</option>
          <option>Barro Duro</option>
          <option>Batalha</option>
          <option>Bela Vista do Piauí</option>
          <option>Belém do Piauí</option>
          <option>Beneditinos</option>
          <option>Bertolínia</option>
          <option>Betânia do Piauí</option>
          <option>Boa Hora</option>
          <option>Bocaina</option>
          <option>Bom Jesus</option>
          <option>Bom Princípio do Piauí</option>
          <option>Bonfim do Piauí</option>
          <option>Boqueirão do Piauí</option>
          <option>Brasileira</option>
          <option>Brejo do Piauí</option>
          <option>Buriti dos Lopes</option>
          <option>Buriti dos Montes</option>
          <option>Cabeceiras do Piauí</option>
          <option>Cajazeiras do Piauí</option>
          <option>Cajueiro da Praia</option>
          <option>Caldeirão Grande do Piauí</option>
          <option>Campinas do Piauí</option>
          <option>Campo Alegre do Fidalgo</option>
          <option>Campo Grande do Piauí</option>
          <option>Campo Largo do Piauí</option>
          <option>Campo Maior</option>
          <option>Canavieira</option>
          <option>Canto do Buriti</option>
          <option>Capitão de Campos</option>
          <option>Capitão Gervásio Oliveira</option>
          <option>Caracol</option>
          <option>Caraúbas do Piauí</option>
          <option>Caridade do Piauí</option>
          <option>Castelo do Piauí</option>
          <option>Caxingó</option>
          <option>Cocal</option>
          <option>Cocal de Telha</option>
          <option>Cocal dos Alves</option>
          <option>Coivaras</option>
          <option>Colônia do Gurgueia</option>
          <option>Colônia do Piauí</option>
          <option>Conceição do Canindé</option>
          <option>Coronel José Dias</option>
          <option>Corrente</option>
          <option>Cristalândia do Piauí</option>
          <option>Cristino Castro</option>
          <option>Curimatá</option>
          <option>Currais</option>
          <option>Curral Novo do Piauí</option>
          <option>Curralinhos</option>
          <option>Demerval Lobão</option>
          <option>Dirceu Arcoverde</option>
          <option>Dom Expedito Lopes</option>
          <option>Dom Inocêncio</option>
          <option>Domingos Mourão</option>
          <option>Elesbão Veloso</option>
          <option>Eliseu Martins</option>
          <option>Esperantina</option>
          <option>Fartura do Piauí</option>
          <option>Flores do Piauí</option>
          <option>Floresta do Piauí</option>
          <option>Floriano</option>
          <option>Francinópolis</option>
          <option>Francisco Ayres</option>
          <option>Francisco Macedo</option>
          <option>Francisco Santos</option>
          <option>Fronteiras</option>
          <option>Geminiano</option>
          <option>Gilbués</option>
          <option>Guadalupe</option>
          <option>Guaribas</option>
          <option>Hugo Napoleão</option>
          <option>Ilha Grande</option>
          <option>Inhuma</option>
          <option>Ipiranga do Piauí</option>
          <option>Isaías Coelho</option>
          <option>Itainópolis</option>
          <option>Itaueira</option>
          <option>Jacobina do Piauí</option>
          <option>Jaicós</option>
          <option>Jardim do Mulato</option>
          <option>Jatobá do Piauí</option>
          <option>Jerumenha</option>
          <option>João Costa</option>
          <option>Joaquim Pires</option>
          <option>Joca Marques</option>
          <option>José de Freitas</option>
          <option>Juazeiro do Piauí</option>
          <option>Júlio Borges</option>
          <option>Jurema</option>
          <option>Lagoa Alegre</option>
          <option>Lagoa de São Francisco</option>
          <option>Lagoa do Barro do Piauí</option>
          <option>Lagoa do Piauí</option>
          <option>Lagoa do Sítio</option>
          <option>Lagoinha do Piauí</option>
          <option>Landri Sales</option>
          <option>Luís Correia</option>
          <option>Luzilândia</option>
          <option>Madeiro</option>
          <option>Manoel Emídio</option>
          <option>Marcolândia</option>
          <option>Marcos Parente</option>
          <option>Massapê do Piauí</option>
          <option>Matias Olímpio</option>
          <option>Miguel Alves</option>
          <option>Miguel Leão</option>
          <option>Milton Brandão</option>
          <option>Monsenhor Gil</option>
          <option>Monsenhor Hipólito</option>
          <option>Monte Alegre do Piauí</option>
          <option>Morro Cabeça no Tempo</option>
          <option>Morro do Chapéu do Piauí</option>
          <option>Murici dos Portelas</option>
          <option>Nazaré do Piauí</option>
          <option>Nazária</option>
          <option>Nossa Senhora de Nazaré</option>
          <option>Nossa Senhora dos Remédios</option>
          <option>Nova Santa Rita</option>
          <option>Novo Oriente do Piauí</option>
          <option>Novo Santo Antônio</option>
          <option>Oeiras</option>
          <option>Olho d'Água do Piauí</option>
          <option>Padre Marcos</option>
          <option>Paes Landim</option>
          <option>Pajeú do Piauí</option>
          <option>Palmeira do Piauí</option>
          <option>Palmeirais</option>
          <option>Paquetá</option>
          <option>Parnaguá</option>
          <option>Parnaíba</option>
          <option>Passagem Franca do Piauí</option>
          <option>Patos do Piauí</option>
          <option>Pau d'Arco do Piauí</option>
          <option>Paulistana</option>
          <option>Pavussu</option>
          <option>Pedro II</option>
          <option>Pedro Laurentino</option>
          <option>Picos</option>
          <option>Pimenteiras</option>
          <option>Pio IX</option>
          <option>Piracuruca</option>
          <option>Piripiri</option>
          <option>Porto</option>
          <option>Porto Alegre do Piauí</option>
          <option>Prata do Piauí</option>
          <option>Queimada Nova</option>
          <option>Redenção do Gurgueia</option>
          <option>Regeneração</option>
          <option>Riacho Frio</option>
          <option>Ribeira do Piauí</option>
          <option>Ribeiro Gonçalves</option>
          <option>Rio Grande do Piauí</option>
          <option>Santa Cruz do Piauí</option>
          <option>Santa Cruz dos Milagres</option>
          <option>Santa Filomena</option>
          <option>Santa Luz</option>
          <option>Santa Rosa do Piauí</option>
          <option>Santana do Piauí</option>
          <option>Santo Antônio de Lisboa</option>
          <option>Santo Antônio dos Milagres</option>
          <option>Santo Inácio do Piauí</option>
          <option>São Braz do Piauí</option>
          <option>São Félix do Piauí</option>
          <option>São Francisco de Assis do Piauí</option>
          <option>São Francisco do Piauí</option>
          <option>São Gonçalo do Gurgueia</option>
          <option>São Gonçalo do Piauí</option>
          <option>São João da Canabrava</option>
          <option>São João da Fronteira</option>
          <option>São João da Serra</option>
          <option>São João da Varjota</option>
          <option>São João do Arraial</option>
          <option>São João do Piauí</option>
          <option>São José do Divino</option>
          <option>São José do Peixe</option>
          <option>São José do Piauí</option>
          <option>São Julião</option>
          <option>São Lourenço do Piauí</option>
          <option>São Luís do Piauí</option>
          <option>São Miguel da Baixa Grande</option>
          <option>São Miguel do Fidalgo</option>
          <option>São Miguel do Tapuio</option>
          <option>São Pedro do Piauí</option>
          <option>São Raimundo Nonato</option>
          <option>Sebastião Barros</option>
          <option>Sebastião Leal</option>
          <option>Sigefredo Pacheco</option>
          <option>Simões</option>
          <option>Simplício Mendes</option>
          <option>Socorro do Piauí</option>
          <option>Sussuapara</option>
          <option>Tamboril do Piauí</option>
          <option>Tanque do Piauí</option>
          <option>Teresina</option>
          <option>União</option>
          <option>Uruçuí</option>
          <option>Valença do Piauí</option>
          <option>Várzea Branca</option>
          <option>Várzea Grande</option>
          <option>Vera Mendes</option>
          <option>Vila Nova do Piauí</option>
          <option>Wall Ferraz</option>
          <option>Outro</option>
        </select>

        <label for="regiao">Região:</label>
        <select id="regiao" name="regiao" required>
          <option value=" " disabled selected hidden></option>
          <option value="A">Centro-Oeste</option>
          <option value="B">Nordeste</option>
          <option value="C">Norte</option>
          <option value="D">Sudeste</option>
          <option value="E">Sul</option>
          <option value="F">Não se aplica</option>
        </select>

        <label for="territorio">Território:</label>
        <select name="territorio">
          <option value=" " disabled selected hidden></option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>

        <label for="macro_regiao">Macro Região:</label>
        <select id="macro_regiao" name="macro_regiao" required>
          <option value=" " disabled selected hidden></option>
          <option value="A">Cerrados</option>
          <option value="B">Litoral</option>
          <option value="C">Meio Norte</option>
          <option value="D">Semiárido</option>
          <option value="E">Não se aplica</option>
        </select>
      </section>

      <section id="recebedor" class="tabcontent">
        <h2>Recebedores</h2>

        <div class="selector">
          <select id="recebedores" name="recebedores" required>
            <option value="">João da Silva Filho</option>
            <option value="">João da Silva Neto</option>
            <option value="">Joana da Silva</option>
          </select>
          <button id="adicionar">Adicionar</button>
        </div>

        <h2>Dados do Recebedor</h2>

        <label for="nome_recebedor">Nome do recebedor:</label>
        <input
          type="text"
          id="nome_recebedor"
          name="nome_recebedor"
          required
          maxlength="128"
        />

        <label for="recebedor_rg">RG:</label>
        <input type="text" id="recebedor_rg" name="recebedor_rg" />

        <label for="recebedor_cpf">CPF:</label>
        <input
          type="text"
          id="recebedor_cpf"
          name="recebedor_cpf"
          maxlength="14"
          oninput="mascaraCPF(this)"
        />

        <label for="motivo"
          >Motivo para receber materiais em nome do paciente:</label
        >
        <input type="text" id="motivo" name="motivo" required maxlength="128" />

        <label for="data_autorizacao">Data da Autorização:</label>
        <input
          type="date"
          id="data_autorizacao"
          name="data_autorizacao"
          required
          maxlength="128"
        />

        <label for="local_autorizacao">Local da Autorização:</label>
        <input
          type="text"
          id="local_autorizacao"
          name="local_autorizacao"
          required
          maxlength="128"
        />
      </section>

      <section id="estoma" class="tabcontent">
        <h2>Estoma</h2>

        <div class="selector">
          <select id="estomas" name="estomas" required>
            <option value="">Colostomia em alça</option>
            <option value="">Ileostomia convencional</option>
            <option value="">Ureterostomia terminal</option>
          </select>
          <button id="adicionar">Adicionar</button>
        </div>

        <h2>Dados do Estoma:</h2>

        <label for="">Imagem:</label>
        <input type="file">

        <label for="periodicidade_estoma">Periodicidade:</label>
        <div class="em_uma_linha">
          <input
            class="flex1"
            type="number"
            id="periodicidade_estoma_numero"
            name="periodicidade_estoma_numero"
            required
          />
          <select
            class="flex2 margin_left"
            id="periodicidade_estoma_intervalo"
            name="periodicidade_estoma_intervalo"
            required
          >
            <option value=" " disabled selected hidden></option>
            <option value="">Semanas</option>
            <option value="">Meses</option>
            <option value="">Anos</option>
          </select>
        </div>
        <label for="diagnostico">Diagnóstico:</label>
        <input
          type="text"
          id="diagnostico"
          name="diagnostico"
          required
          maxlength="50"
        />

        <label for="data_cirurgia">Data da Cirurgia:</label>
        <input type="date" id="data_cirurgia" name="data_cirurgia" required />

        <label for="nome_cirurgiao">Nome do Cirurgião:</label>
        <input type="text" id="nome_cirurgiao" name="nome_cirurgiao" required />

        <label for="hospital">Hospital:</label>
        <input type="text" id="hospital" name="hospital" required />

        <label for="tempo_estoma">Tempo de Permanência do Estoma:</label>
        <select id="tempo_estoma" name="tempo_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Temporário</option>
          <option value="">Permanente</option>
          <option value="">Indeterminado</option>
        </select>

        <span>só aparece se marca Indeterminado acima</span>

        <label for="causa_indeterminado">Se Indeterminado, Qual a Causa:</label>
        <input
          type="text"
          id="causa_indeterminado"
          name="causa_indeterminado"
        />

        <label for="doenca_base_estoma">Doença de Base para o Estoma:</label>
        <input
          type="text"
          id="doenca_base_estoma"
          name="doenca_base_estoma"
          required
          maxlength="50"
        />

        <label for="demarcacao_estoma"
          >Demarcação do Estoma no Pré-Operatório:</label
        >
        <select id="demarcacao_estoma" name="demarcacao_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
          <option value="2">Não informado</option>
        </select>

        <label for="tipo_estoma">Tipo de Estoma:</label>
        <select id="tipo_estoma" name="tipo_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Colostomia</option>
          <option value="">Ileostomia</option>
          <option value="">Urostomia</option>
          <option value="">Outro</option>
        </select>

        <label for="modo_exteriorizacao">Modo de Exteriorização:</label>
        <select id="modo_exteriorizacao" name="modo_exteriorizacao" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Terminal</option>
          <option value="">Derivação Urinária Bricker</option>
          <option value="">Em alça</option>
          <option value="">Uro</option>
          <option value="">Duas bocas</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="tipo_abdome">Tipo de Abdome:</label>
        <select id="tipo_abdome" name="tipo_abdome" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Plano</option>
          <option value="">Globoso</option>
          <option value="">Escavado</option>
          <option value="">Semi Globoso</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="mobilidade">Mobilidade:</label>
        <select id="mobilidade" name="mobilidade" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Deambula</option>
          <option value="">Deambula com auxílio</option>
          <option value="">Não deambula</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="tipo_cirurgia_realizada">Tipo de Cirurgia Realizada:</label>
        <select
          id="tipo_cirurgia_realizada"
          name="tipo_cirurgia_realizada"
          required
        >
          <option value=" " disabled selected hidden></option>
          <option value="">Laparotomia</option>
          <option value="">Enterectomia</option>
          <option value="">Colectomia</option>
          <option value="">Convencional</option>
          <option value="">Cistectomia</option>
          <option value="">Bricker</option>
          <option value="">Confecção de alça</option>
          <option value="">Vídeo</option>
          <option value="">Colostomia</option>
          <option value="">Incisão em região de cólon descendente</option>
          <option value="">Apendicite</option>
          <option value="">Incisão em região abdominal D</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="localizacao_abdominal">Localização Abdominal:</label>
        <select
          id="localizacao_abdominal"
          name="localizacao_abdominal"
          required
        >
          <option value=" " disabled selected hidden></option>
          <option value="">QSE</option>
          <option value="">QSD</option>
          <option value="">QIE</option>
          <option value="">QID</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="higiene">Higiene:</label>
        <select id="higiene" name="higiene" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Boa</option>
          <option value="">Satisfatória</option>
          <option value="">Ruim</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="dimensoes">Dimensões do Estoma em mm:</label>
        <div class="em_uma_linha">
          <input class="flex2" type="number" id="dimensao1" name="dimensao1" />
          <span class="margin_left"> por </span>
          <input
            class="flex2 margin_left"
            type="number"
            id="dimensao2"
            name="dimensao2"
          />
        </div>

        <label for="formato_estoma">Formato do Estoma:</label>
        <select id="formato_estoma" name="formato_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Oval</option>
          <option value="">Circular</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="regularidade_estoma">Regularidade do Estoma:</label>
        <select id="regularidade_estoma" name="regularidade_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Regular</option>
          <option value="">Irregular</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="coloracao_estoma">Coloração do Estoma:</label>
        <select id="coloracao_estoma" name="coloracao_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Vermelho vivo</option>
          <option value="">Rosado</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="tubete_haste_fixacao">Tubete/Haste de Fixação:</label>
        <select id="tubete_haste_fixacao" name="tubete_haste_fixacao" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Presente</option>
          <option value="">Ausente</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="protusao_estoma">Protusão do Estoma:</label>
        <select id="protusao_estoma" name="protusao_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Protuso-saliente</option>
          <option value="">Plano</option>
          <option value="">Retraído</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="funcao_estoma">Função do Estoma:</label>
        <select id="funcao_estoma" name="funcao_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Funcionante (proximal)</option>
          <option value="">Não funcionante (fístula mucosa)</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
        </select>

        <label for="complicacoes_estoma"
          >Complicações Presentes no Estoma:</label
        >
        <select id="complicacoes_estoma" name="complicacoes_estoma" required>
          <option value=" " disabled selected hidden></option>
          <option value="">Ausente</option>
          <option value="">Fungo</option>
          <option value="">Retração</option>
          <option value="">Sangramento</option>
          <option value="">Prolapso</option>
          <option value="">Edema</option>
          <option value="">Vazamento</option>
          <option value="">Estenose</option>
          <option value="">Hérnia</option>
          <option value="">Hérnia periestomal</option>
          <option value="">Hérnia umbilical</option>
          <option value="">Granuloma</option>
          <option value="">Infecção</option>
          <option value="">Deiscência</option>
          <option value="">Dermatite</option>
          <option value="">Tumor</option>
          <option value="">Necrose</option>
          <option value="">lesão decorrente tubete</option>
          <option value="">Corte inadequado</option>
          <option value="">Maceração</option>
          <option value="">Descolamento</option>
          <option value="">Saída de fezes pela parte inferior</option>
          <option value="">Isquemia</option>
          <option value="">Não informado</option>
          <option value="">Outro</option>
          <!-- Fixação de granuloma (amarrar )
          Saída de fezes pela parte inferior
          Edema ainda do pós operatório -->
        </select>

        <label for="efluente">Efluente:</label>
        <label
          ><input type="checkbox" name="opcao" value="Fezes formadas" /> Fezes
          formadas</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Fezes pastosas" /> Fezes
          pastosas</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Fezes semiliquidas" />
          Fezes semiliquidas</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Fezes liquidas" /> Fezes
          liquidas</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Urina" /> Urina</label
        >
        <label><input type="checkbox" name="opcao" value="Muco" /> Muco</label>
        <label
          ><input type="checkbox" name="opcao" value="Não informado" /> Não
          informado</label
        ><br />

        <label for="pele_periestoma">Pele Periestoma:</label>
        <label
          ><input type="checkbox" name="opcao" value="Integra" /> Integra</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Dermatite" />
          Dermatite</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Hiperemiada" />
          Hiperemiada</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Granuloma" />
          Granuloma</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Macerada" />
          Macerada</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Hérnia Paraestomal" />
          Hérnia Paraestomal</label
        >
        <label
          ><input
            type="checkbox"
            name="opcao"
            value="lesão decorrente do tubete"
          />
          Lesão decorrente do tubete</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Infecção fúngica" />
          Infecção fúngica</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Friável" /> Friável</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Pontos Escurecidos" />
          Pontos Escurecidos</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Amarrado" />
          "Amarrado"</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Queimadura" />
          Queimadura</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Pontos de coágulo" />
          Pontos de coágulo</label
        >
        <label
          ><input type="checkbox" name="opcao" value="FO à esquerda" /> FO à
          esquerda</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Deiscência nos pontos" />
          Deiscência nos pontos</label
        >
        <label
          ><input type="checkbox" name="opcao" value="Integra" /> Integra</label
        >

        <label for="usa_cinto_sustentacao">Usa Cinto de Sustentação:</label>
        <select id="usa_cinto_sustentacao" name="usa_cinto_sustentacao">
          <option value=" " disabled selected hidden></option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <label for="diametro_equipamento">Diâmetro do Equipamento em mm:</label>
        <input
          type="number"
          id="diametro_equipamento"
          name="diametro_equipamento"
        />

        <label for="sistema">Sistema:</label>
        <div class="em_uma_linha">
          <select id="qtd_pecas" name="qtd_pecas" class="flex1">
            <option value="Sim">Uma peça</option>
            <option value="Não">Duas peças</option>
          </select>
          <select id="opacidade" name="opacidade" class="flex1 margin_left">
            <option value="Sim">Opaco</option>
            <option value="Não">Transparente</option>
          </select>
          <select id="frenavel" name="frenavel" class="flex1 margin_left">
            <option value="Sim">Drenável</option>
            <option value="Não">Não drenável</option>
          </select>
          <select
            id="plano_infantil"
            name="plano_infantil"
            class="flex1 margin_left"
          >
            <option value="Sim">Plano infantil</option>
            <option value="Não">Plano comum</option>
          </select>
        </div>

        <label for="tipo_placa">Tipo de Placa:</label>
        <select id="tipo_placa" name="tipo_placa">
          <option value=" " disabled selected hidden></option>
          <option value="0">Plana</option>
          <option value="1">Recortável</option>
          <option value="2">Convexa</option>
        </select>

        <label for="uso_adjuvante">Uso de Adjuvante:</label>
        <label for="nao_utiliza"
          ><input type="checkbox" id="nao_utiliza" name="nao_utiliza" /> Não
          utiliza</label
        >
        <label for="pasta_hidrocoloide"
          ><input
            type="checkbox"
            id="pasta_hidrocoloide"
            name="pasta_hidrocoloide"
          />
          Pasta de hidrocolóide</label
        >
        <label for="po_estoma"
          ><input type="checkbox" id="po_estoma" name="po_estoma" /> Pó para
          estoma</label
        >
        <label for="creme_dermatite"
          ><input type="checkbox" id="creme_dermatite" name="creme_dermatite" />
          Creme para dermatite</label
        >
        <label for="spray_barreira"
          ><input type="checkbox" id="spray_barreira" name="spray_barreira" />
          Spray barreira de pele</label
        >
        <label for="anel_moldavel"
          ><input type="checkbox" id="anel_moldavel" name="anel_moldavel" />
          Anel moldável</label
        >
        <label for="removedor_adesivo"
          ><input
            type="checkbox"
            id="removedor_adesivo"
            name="removedor_adesivo"
          />
          Removedor de adesivo</label
        >
        <label for="creme_barreira"
          ><input type="checkbox" id="creme_barreira" name="creme_barreira" />
          Creme barreira</label
        >
        <label for="fita_adesiva"
          ><input type="checkbox" id="fita_adesiva" name="fita_adesiva" /> Fita
          adesiva circular</label
        >
        <label for="elastico_improvisacao"
          ><input
            type="checkbox"
            id="elastico_improvisacao"
            name="elastico_improvisacao"
          />
          Elástico para improvisação</label
        >
        <label for="cinto"
          ><input type="checkbox" id="cinto" name="cinto" /> Cinto</label
        >
        <label for="phmb"
          ><input type="checkbox" id="phmb" name="phmb" /> PHMB</label
        >
        <label for="desodorante_lubrificante"
          ><input
            type="checkbox"
            id="desodorante_lubrificante"
            name="desodorante_lubrificante"
          />
          Desodorante/lubrificante</label
        >
        <label for="placa_protetora"
          ><input type="checkbox" id="placa_protetora" name="placa_protetora" />
          Placa protetora</label
        >
        <label for="limpador_pele"
          ><input type="checkbox" id="limpador_pele" name="limpador_pele" />
          Limpador de pele</label
        >
      </section>

      <section id="consulta" class="tabcontent">
        <h2>Consultas</h2>

        <div class="selector">
          <select id="consultas" name="consultas" required>
            <option value="">Consulta 26/09/2022</option>
            <option value="">Consulta 28/10/2022</option>
            <option value="">Consulta 02/12/2022</option>
          </select>
          <button id="adicionar">Adicionar</button>
        </div>

        <h2>Dados da consulta:</h2>

        <label for="condicoes_clinicas">Condições Clínicas:</label>
        <input
          type="text"
          id="condicoes_clinicas"
          name="condicoes_clinicas"
          required
          maxlength="50"
        />

        <label for="adaptacao">Como está a sua Adaptação?</label>
        <input type="text" id="adaptacao" name="adaptacao" />

        <label for="equipamentos_indicados">Equipamentos Indicados:</label>
        <input
          type="text"
          id="equipamentos_indicados"
          name="equipamentos_indicados"
        />

        <label for="observacao">Observação do avaliador:</label>
        <input type="text" id="observacao" name="observacao" />
      </section>

      <section id="material" class="tabcontent">
        <h2>Materiais</h2>

        <div class="selector">
          <select id="materiais" name="materiais" required>
            <option value="">Equipamento coletor de 1 peça convexa</option>
            <option value="">Equipamento coletor de 2 peças convexas</option>
            <option value="">Equipamento coletor de 1 peça plana</option>
          </select>
          <button id="adicionar">Adicionar</button>
        </div>

        <h2>Dados do Material:</h2>

        <label for="periodicidade_material">Periodicidade:</label>
        <div class="em_uma_linha">
          <input
            class="flex1"
            type="number"
            id="periodicidade_material_numero"
            name="periodicidade_material_numero"
            required
          />
          <select
            class="flex2 margin_left"
            id="periodicidade_material_intervalo"
            name="periodicidade_material_intervalo"
            required
          >
            <option value="">Semanas</option>
            <option value="">Meses</option>
            <option value="">Anos</option>
          </select>
        </div>

        <label for="quantidade_mensal">Quantidade que recebe mensal:</label>
        <input type="number" id="quantidade_mensal" name="quantidade_mensal" />

        <label for="custo_extra">Custo Extra com Equipamento/Adjuvantes:</label>
        <select id="custo_extra" name="custo_extra" required>
          <option value=" " disabled selected hidden></option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        <span>aparece em caso afirmativo</span>
        <label for="custo_adicional">Custo adicional:</label>
        <input type="text" id="custo_adicional" name="custo_adicional" />
      </section>

      <section>
        <button type="submit">Enviar</button>
      </section>
    </form>
  </body>
  <script src="../scripts/paciente.js"></script>
</html>
