<option value="">Acauã</option>
<option value="">Agricolândia</option>
<option value="">Água Branca</option>
<option value="">Alagoinha do Piauí</option>
<option value="">Alegrete do Piauí</option>
<option value="">Alto Longá</option>
<option value="">Altos</option>
<option value="">Alvorada do Gurgueia</option>
<option value="">Amarante</option>
<option value="">Angical do Piauí</option>
<option value="">Anísio de Abreu</option>
<option value="">Antônio Almeida</option>
<option value="">Aroazes</option>
<option value="">Aroeiras do Itaim</option>
<option value="">Arraial</option>
<option value="">Assunção do Piauí</option>
<option value="">Avelino Lopes</option>
<option value="">Baixa Grande do Ribeiro</option>
<option value="">Barra d'Alcântara</option>
<option value="">Barras</option>
<option value="">Barreiras do Piauí</option>
<option value="">Barro Duro</option>
<option value="">Batalha</option>
<option value="">Bela Vista do Piauí</option>
<option value="">Belém do Piauí</option>
<option value="">Beneditinos</option>
<option value="">Bertolínia</option>
<option value="">Betânia do Piauí</option>
<option value="">Boa Hora</option>
<option value="">Bocaina</option>
<option value="">Bom Jesus</option>
<option value="">Bom Princípio do Piauí</option>
<option value="">Bonfim do Piauí</option>
<option value="">Boqueirão do Piauí</option>
<option value="">Brasileira</option>
<option value="">Brejo do Piauí</option>
<option value="">Buriti dos Lopes</option>
<option value="">Buriti dos Montes</option>
<option value="">Cabeceiras do Piauí</option>
<option value="">Cajazeiras do Piauí</option>
<option value="">Cajueiro da Praia</option>
<option value="">Caldeirão Grande do Piauí</option>
<option value="">Campinas do Piauí</option>
<option value="">Campo Alegre do Fidalgo</option>
<option value="">Campo Grande do Piauí</option>
<option value="">Campo Largo do Piauí</option>
<option value="">Campo Maior</option>
<option value="">Canavieira</option>
<option value="">Canto do Buriti</option>
<option value="">Capitão de Campos</option>
<option value="">Capitão Gervásio Oliveira</option>
<option value="">Caracol</option>
<option value="">Caraúbas do Piauí</option>
<option value="">Caridade do Piauí</option>
<option value="">Castelo do Piauí</option>
<option value="">Caxingó</option>
<option value="">Cocal</option>
<option value="">Cocal de Telha</option>
<option value="">Cocal dos Alves</option>
<option value="">Coivaras</option>
<option value="">Colônia do Gurgueia</option>
<option value="">Colônia do Piauí</option>
<option value="">Conceição do Canindé</option>
<option value="">Coronel José Dias</option>
<option value="">Corrente</option>
<option value="">Cristalândia do Piauí</option>
<option value="">Cristino Castro</option>
<option value="">Curimatá</option>
<option value="">Currais</option>
<option value="">Curral Novo do Piauí</option>
<option value="">Curralinhos</option>
<option value="">Demerval Lobão</option>
<option value="">Dirceu Arcoverde</option>
<option value="">Dom Expedito Lopes</option>
<option value="">Dom Inocêncio</option>
<option value="">Domingos Mourão</option>
<option value="">Elesbão Veloso</option>
<option value="">Eliseu Martins</option>
<option value="">Esperantina</option>
<option value="">Fartura do Piauí</option>
<option value="">Flores do Piauí</option>
<option value="">Floresta do Piauí</option>
<option value="">Floriano</option>
<option value="">Francinópolis</option>
<option value="">Francisco Ayres</option>
<option value="">Francisco Macedo</option>
<option value="">Francisco Santos</option>
<option value="">Fronteiras</option>
<option value="">Geminiano</option>
<option value="">Gilbués</option>
<option value="">Guadalupe</option>
<option value="">Guaribas</option>
<option value="">Hugo Napoleão</option>
<option value="">Ilha Grande</option>
<option value="">Inhuma</option>
<option value="">Ipiranga do Piauí</option>
<option value="">Isaías Coelho</option>
<option value="">Itainópolis</option>
<option value="">Itaueira</option>
<option value="">Jacobina do Piauí</option>
<option value="">Jaicós</option>
<option value="">Jardim do Mulato</option>
<option value="">Jatobá do Piauí</option>
<option value="">Jerumenha</option>
<option value="">João Costa</option>
<option value="">Joaquim Pires</option>
<option value="">Joca Marques</option>
<option value="">José de Freitas</option>
<option value="">Juazeiro do Piauí</option>
<option value="">Júlio Borges</option>
<option value="">Jurema</option>
<option value="">Lagoa Alegre</option>
<option value="">Lagoa de São Francisco</option>
<option value="">Lagoa do Barro do Piauí</option>
<option value="">Lagoa do Piauí</option>
<option value="">Lagoa do Sítio</option>
<option value="">Lagoinha do Piauí</option>
<option value="">Landri Sales</option>
<option value="">Luís Correia</option>
<option value="">Luzilândia</option>
<option value="">Madeiro</option>
<option value="">Manoel Emídio</option>
<option value="">Marcolândia</option>
<option value="">Marcos Parente</option>
<option value="">Massapê do Piauí</option>
<option value="">Matias Olímpio</option>
<option value="">Miguel Alves</option>
<option value="">Miguel Leão</option>
<option value="">Milton Brandão</option>
<option value="">Monsenhor Gil</option>
<option value="">Monsenhor Hipólito</option>
<option value="">Monte Alegre do Piauí</option>
<option value="">Morro Cabeça no Tempo</option>
<option value="">Morro do Chapéu do Piauí</option>
<option value="">Murici dos Portelas</option>
<option value="">Nazaré do Piauí</option>
<option value="">Nazária</option>
<option value="">Nossa Senhora de Nazaré</option>
<option value="">Nossa Senhora dos Remédios</option>
<option value="">Nova Santa Rita</option>
<option value="">Novo Oriente do Piauí</option>
<option value="">Novo Santo Antônio</option>
<option value="">Oeiras</option>
<option value="">Olho d'Água do Piauí</option>
<option value="">Padre Marcos</option>
<option value="">Paes Landim</option>
<option value="">Pajeú do Piauí</option>
<option value="">Palmeira do Piauí</option>
<option value="">Palmeirais</option>
<option value="">Paquetá</option>
<option value="">Parnaguá</option>
<option value="">Parnaíba</option>
<option value="">Passagem Franca do Piauí</option>
<option value="">Patos do Piauí</option>
<option value="">Pau d'Arco do Piauí</option>
<option value="">Paulistana</option>
<option value="">Pavussu</option>
<option value="">Pedro II</option>
<option value="">Pedro Laurentino</option>
<option value="">Picos</option>
<option value="">Pimenteiras</option>
<option value="">Pio IX</option>
<option value="">Piracuruca</option>
<option value="">Piripiri</option>
<option value="">Porto</option>
<option value="">Porto Alegre do Piauí</option>
<option value="">Prata do Piauí</option>
<option value="">Queimada Nova</option>
<option value="">Redenção do Gurgueia</option>
<option value="">Regeneração</option>
<option value="">Riacho Frio</option>
<option value="">Ribeira do Piauí</option>
<option value="">Ribeiro Gonçalves</option>
<option value="">Rio Grande do Piauí</option>
<option value="">Santa Cruz do Piauí</option>
<option value="">Santa Cruz dos Milagres</option>
<option value="">Santa Filomena</option>
<option value="">Santa Luz</option>
<option value="">Santa Rosa do Piauí</option>
<option value="">Santana do Piauí</option>
<option value="">Santo Antônio de Lisboa</option>
<option value="">Santo Antônio dos Milagres</option>
<option value="">Santo Inácio do Piauí</option>
<option value="">São Braz do Piauí</option>
<option value="">São Félix do Piauí</option>
<option value="">São Francisco de Assis do Piauí</option>
<option value="">São Francisco do Piauí</option>
<option value="">São Gonçalo do Gurgueia</option>
<option value="">São Gonçalo do Piauí</option>
<option value="">São João da Canabrava</option>
<option value="">São João da Fronteira</option>
<option value="">São João da Serra</option>
<option value="">São João da Varjota</option>
<option value="">São João do Arraial</option>
<option value="">São João do Piauí</option>
<option value="">São José do Divino</option>
<option value="">São José do Peixe</option>
<option value="">São José do Piauí</option>
<option value="">São Julião</option>
<option value="">São Lourenço do Piauí</option>
<option value="">São Luís do Piauí</option>
<option value="">São Miguel da Baixa Grande</option>
<option value="">São Miguel do Fidalgo</option>
<option value="">São Miguel do Tapuio</option>
<option value="">São Pedro do Piauí</option>
<option value="">São Raimundo Nonato</option>
<option value="">Sebastião Barros</option>
<option value="">Sebastião Leal</option>
<option value="">Sigefredo Pacheco</option>
<option value="">Simões</option>
<option value="">Simplício Mendes</option>
<option value="">Socorro do Piauí</option>
<option value="">Sussuapara</option>
<option value="">Tamboril do Piauí</option>
<option value="">Tanque do Piauí</option>
<option value="">Teresina</option>
<option value="">União</option>
<option value="">Uruçuí</option>
<option value="">Valença do Piauí</option>
<option value="">Várzea Branca</option>
<option value="">Várzea Grande</option>
<option value="">Vera Mendes</option>
<option value="">Vila Nova do Piauí</option>
<option value="">Wall Ferraz</option>
