<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/paciente.css" />
    <link rel="stylesheet" href="../styles/checkboxes.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href="../views/index.html">
        <div class="home">
          <img src="../pictures/logo.png" alt="Logo do Sistom" />
          <span>Sistom</span>
        </div>
      </a>
      <div class="user">
        <img src="../pictures/paciente7.jpeg" alt="Imagem do usuário" />
        <span>Nome de usuário</span>
      </div>
    </header>
    <div class="acessibilidade">
      <button><img src="./Contraste-icon.svg" /></button>
      <button><img src="./Tam-fonte-menos-icon.svg" /></button>
      <button><img src="./Tam-fonte-mais-icon.svg" /></button>
      <button><img src="./Libras-icon.svg" /></button>
    </div>
    <a class="botao_voltar" , id="voltar" href="../views/index.html"
      ><span><--</span>Tela Inicial</a
    >

    <form action="/submit" method="post">
      <section id="recebedor" class="tabcontent">
        <h2>Recebedores</h2>

        <div class="busca">
          <select id="recebedores" name="recebedores" required>
            <option value="">João da Silva Filho</option>
            <option value="">João da Silva Neto</option>
            <option value="">Joana da Silva</option>
          </select>
          <button>Adicionar</button>
        </div>

        <h2>Dados do Recebedor</h2>

        <label for="nome_recebedor">Nome do recebedor:</label>
        <input
          type="text"
          id="nome_recebedor"
          name="nome_recebedor"
          required
          maxlength="128"
          placeholder="ex: José da Silveira"
        />

        <label for="recebedor_rg">RG:</label>
        <input
          type="text"
          id="recebedor_rg"
          name="recebedor_rg"
          placeholder="19.065.883-6"
        />

        <label for="recebedor_cpf">CPF:</label>
        <input
          type="text"
          id="recebedor_cpf"
          name="recebedor_cpf"
          maxlength="14"
          oninput="mascaraCPF(this)"
          placeholder="ex: 330.212.648-40"
        />

        <label for="motivo"
          >Motivo para receber materiais em nome do paciente:</label
        >
        <input
          type="text"
          id="motivo"
          name="motivo"
          required
          maxlength="128"
          placeholder="ex: Mora mais perto da clínica que o paciente"
        />

        <label for="data_autorizacao">Data da Autorização:</label>
        <input
          type="date"
          id="data_autorizacao"
          name="data_autorizacao"
          required
          maxlength="128"
          placeholder="ex: 08/03/2023"
        />

        <label for="local_autorizacao">Local da Autorização:</label>
        <input
          type="text"
          id="local_autorizacao"
          name="local_autorizacao"
          required
          maxlength="128"
          placeholder="ex: Hospital São Marcos"
        />

        <button type="submit">Enviar</button>
      </section>
    </form>
    <a class="botao_subir" onclick="voltarAoTopo()"
      ><span>↑</span>Voltar ao Topo</a
    >
  </body>
  <script src="../scripts/paciente.js"></script>
  <script src="../scripts/checkboxes.js"></script>
</html>
