/* fonte: https://getcssscan.com/css-checkboxes-examples */

.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-47 label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper-47 label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #0f5229;
  border-radius: 6px;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label {
  padding-left: 1em;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #b7e6c9;
  border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
  transition: 0.25s all ease;
}

.checkbox-wrapper-47 label::before {
  /* as outras propriedades permanecem iguais */
  content: attr(data-content);
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label::before {
  /* as outras propriedades permanecem iguais para quando estiver marcado */
  content: attr(data-content); /* Isso fará com que o texto seja exibido apenas quando a caixa estiver marcada */
}

.checkbox-wrapper-47 input[type=checkbox] + label::before {
  /* as outras propriedades permanecem iguais para o estado não marcado */
  content: ""; /* Garante que o texto fique vazio quando não estiver marcado */
  padding-left: 10px;
}