* {
  font-family: "Inter", sans-serif;
}

:root {
  --cor-primaria-r: 0;
  --cor-primaria-g: 113;
  --cor-primaria-b: 93;
  --cor-primaria: rgb(
    var(--cor-primaria-r),
    var(--cor-primaria-g),
    var(--cor-primaria-b)
  );
  --cor-escurecida: rgb(
    calc(var(--cor-primaria-r) * 0.8),
    calc(var(--cor-primaria-g) * 0.8),
    calc(var(--cor-primaria-b) * 0.8)
  );
  --fundo-r: 255;
  --fundo-g: 255;
  --fundo-b: 255;
  --fundo: rgb(var(--fundo-r), var(--fundo-g), var(--fundo-b));

  --fundo2-r: 211;
  --fundo2-g: 211;
  --fundo2-b: 211;
  --fundo2: rgb(var(--fundo2-r), var(--fundo2-g), var(--fundo2-b));

  --neutro-r: 0;
  --neutro-g: 0;
  --neutro-b: 0;
  --neutro: rgb(var(--neutro-r), var(--neutro-g), var(--neutro-b));

  --neutro2-r: 61;
  --neutro2-g: 61;
  --neutro2-b: 61;
  --neutro2: rgb(var(--neutro2-r), var(--neutro2-g), var(--neutro2-b));
}

body {
  background-color: var(--fundo);
}

header {
  margin: -8px -8px 0 -8px;
  background: linear-gradient(var(--cor-primaria), var(--cor-escurecida));
  color: var(--fundo);
  display: flex;
  justify-content: space-between;
}

#title {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}

footer {
  margin: 80px -8px -8px -8px;
  padding: 40px 40px;
  background: var(--cor-primaria);
  color: var(--fundo);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer > p {
  width: 60vw;
  margin: auto;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}

a {
  text-decoration: none; /* Remove o sublinhado padrão */
  color: inherit; /* Usa a cor do texto padrão */
  cursor: pointer; /* Muda o cursor para parecer com um link */
}

.home {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
}

button {
  background-color: var(--cor-primaria);
  color: var(--fundo);
  border: 0;
  height: 42px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
}

button:hover {
  background-color: var(--cor-escurecida);
}

.acessibilidade {
  position: fixed;
  right: 0;
  top: 110px;
}

.acessibilidade > button {
  width: 42px;
  height: 42px;
}

.acessibilidade > button > img {
  width: 40px;
  height: 40px;
}

.home > img {
  height: 90px;
  width: 90px;
  padding-right: 15px;
}

.user {
  font-weight: 600;
}

.user > img {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 0px 10px;
  border: 2px solid var(--fundo2);
}
