.texto_inicio {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 17px;
  background-color: lightgray;
  margin: auto;
  width: 27vw;
  height: 30vh;
  border-radius: 10px;
  padding: 2vw;
}

h2{
  margin: auto;
}

.login > input {
  height: 10px;
  padding: 10px;
  width: 26vw;
}

.login > button{
  font-size: 14px;
  height: 30px;
  padding: 10px;
}

main {
  display: flex; margin: 13vh 10vw;
}

main > div{
  width: 40vw;
}

input {
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}
