main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(35, 144, 61);
  font-size: 20px;
  background-color: lightgray;
  margin: auto;
  width: 40vw;
  height: 40vh;
  margin-top: 30vh;
}

input {
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}
