main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 113, 93);
}

main > * {
  width: 80vw;
  margin: 2vw 0 0 0;
}

main > h1 {
  margin: 4vw 0 0 0;
}

.pesquisa {
  display: flex;
  flex-wrap: wrap;
}

.busca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.busca > input {
  border: 5px solid lightgrey;
  border-right: 0;
  margin-right: -15px;
  height: 30px;
  width: 45vw;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

ion-icon {
  height: 30px;
  width: 30px;
  color: white;
}

.pacientes {
  background-color: var(--fundo2);
  border-radius: 20px;
}

.paciente {
  background: linear-gradient(var(--fundo2), rgb(180, 180, 180));
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.dados {
  display: flex;
  align-items: center;
}

.dados > img {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  margin: 0px 10px;
  border: 2px solid var(--fundo2);
}

.dados > div {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.aviso > img {
  height: 40px;
  width: 40px;
}

.aviso_vermelho {
  background: linear-gradient(brown, red);
}

.aviso_amarelo {
  background: linear-gradient(orange, yellow);
}

.menu {
  display: flex;
  justify-content: end;

  position: relative;
}

.paciente .menu-toggle {
  background-color: var(--cor-primaria);
  color: var(--fundo);
  padding: 5px;
}

.paciente .menu-content {
  display: none;
  position: absolute;
  top: 50px;
  width: 20vw;
  background-color: var(--fundo);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
}

.paciente .menu-content a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  text-decoration: none;
}

.paciente .menu-content a:hover {
  background-color: var(--fundo2);
}

.menu-content ion-icon {
  margin: 5px;
  color: var(--cor-primaria);
}
